<table class="table">
  <thead>
  <tr>
    <td>Id</td>
    <td>Created At</td>
    <td>Name</td>
    <td>Age</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.status}}</td>
    <td>
      <a [routerLink]="['/employee-detail', employee.id ]">Show Detail</a>
    </td>
  </tr>
  </tbody>
</table>
