<div class="jumbotron">
  <div class="container">
    <h3>The Home Component</h3>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/400/200/sports" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/400/200/animals" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/400/200/business" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/400/200/technics" alt="...">
    </a>
  </div>
</div>
